/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.primary{
  /* background-color: rgba(30,40,50,0.5); */
  background-color: #005ca9;
  border-radius: 6px;
  /* border: 2px solid #ffffff; */
}

.primary:hover{
  background-color: #005ca9;
  /* border: 2px solid transparent; */
}
.primary:focus,
.primary:active {
  background-color: #005ca9 !important;
  /* border: 2px solid transparent; */
}

.primary-text{
  color: #005ca9;
}

.sidenav-trigger {
  color: #000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
